{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li><a href="{{ path('beheer') }}"><span class="badge">{{ activiteiten|length }}</span>beheer</a></li>
    <li class="active"><a href="{{ path('soortactiviteiten_index') }}">Soort Activiteiten</a></li>
    <li><a href="{{ path('user_index') }}">Gebruikers</a></li>
{% endblock %}

{% block content %}
    <h1>Soortactiviteiten index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>MinLeeftijd</th>
                <th>Tijdsduur</th>
                <th>Prijs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soortactiviteiten in soortactiviteitens %}
            <tr>
                <td>{{ soortactiviteiten.id }}</td>
                <td>{{ soortactiviteiten.naam }}</td>
                <td>{{ soortactiviteiten.minLeeftijd }}</td>
                <td>{{ soortactiviteiten.tijdsduur }}</td>
                <td>{{ soortactiviteiten.prijs }}</td>
                <td>
                    <a href="{{ path('soortactiviteiten_show', {'id': soortactiviteiten.id}) }}">show</a>
                    <a href="{{ path('soortactiviteiten_edit', {'id': soortactiviteiten.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('soortactiviteiten_new') }}">Create new</a>
{% endblock %}
