{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li><a href="{{ path('beheer') }}"><span class="badge">{{ activiteiten|length }}</span>beheer</a></li>
    <li><a href="{{ path('soortactiviteiten_index') }}">Soort Activiteiten</a></li>
    <li class="active"><a href="{{ path('user_index') }}">Gebruikers</a></li>
{% endblock %}

{% block content %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Roles</th>
                <th>Email</th>
                <th>Voorletters</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.voorletters }}</td>
                <td>{{ user.tussenvoegsel }}</td>
                <td>{{ user.achternaam }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
